html {
    font-family: "Noto", sans-serif;
    background-color: #f9f9f9;
    color: #222;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

table {
    border-spacing: 0px;
}
th, td {
    text-align: left;
    border-bottom: 1px solid;
    padding: 8px
}

tr {
    border-bottom: 1px solid;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

tr:nth-child(odd) {
    background-color: inherit;
}